In [4]:
import pandas as pd
from pathlib import Path

In [5]:
pd.read_csv(Path("../Data/turnover.csv"))

,Idade,Turnover,ViagensTrabalho,Departamento,DistanciaCasa,NivelEducacao,Educacao,NumeroEmpregado,NivelSatisfacaoAmbiente,Genero,...,PercentualAumentoSalario,AvaliacaoDesempenho,QtdeHorasTrabalhadasPadrao,TotalAnosTrabalhados,TreinamentosUltimoAno,BalanceamentoVidaTrabalho,QtdeAnosNaEmpresaAtual,QtdeAnosNoCargoAtual,QtdeAnosDesdeUltimaPromocao,QtdeAnosComGerenteAtual
0,41.0,Yes,Travel_Rarely,Sales,1,2,Life Sciences,1,2,Female,...,11,3,80,8,0,1,6,4,0,5
1,49.0,No,Travel_Frequently,Research & Development,8,1,Life Sciences,2,3,Male,...,23,4,80,10,3,3,10,7,1,7
2,37.0,Yes,Travel_Rarely,Research & Development,2,2,Other,4,4,Male,...,15,3,80,7,3,3,0,0,0,0
3,33.0,No,Travel_Frequently,Research & Development,3,4,Life Sciences,5,4,Female,...,11,3,80,8,3,3,8,7,3,0
4,27.0,No,Travel_Rarely,Research & Development,2,1,Medical,7,1,Male,...,12,3,80,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36.0,No,Travel_Frequently,Research & Development,23,2,Medical,2061,3,Male,...,17,3,80,17,3,3,5,2,0,3
1466,39.0,No,Travel_Rarely,Research & Development,6,1,Medical,2062,4,Male,...,15,3,80,9,5,3,7,7,1,7
1467,27.0,No,Travel_Rarely,Research & Development,4,3,Life Sciences,2064,2,Male,...,20,4,80,6,0,3,6,2,0,3
1468,NaN,No,Travel_Frequently,Sales,2,3,Medical,2065,4,Male,...,14,3,80,17,3,2,9,6,0,8
1469,34.0,No,Travel_Rarely,Research & Development,8,3,Medical,2068,2,Male,...,12,3,80,6,3,4,4,3,1,2

2