In [1]:
import pandas as pd
from pathlib import Path

In [2]:
str(Path("../").resolve())

'C:\\Code\\Exemplo\\teste'

In [3]:
import os
os.chdir(str(Path("../")))

In [4]:
import src.preprocessing as f

In [7]:
from src.teste.exemplo import funcao

In [5]:
import src.teste.exemplo as e

In [ ]:
funcao()

oii

In [2]:
df = pd.read_csv(Path("../Data/turnover.csv"))
df.head()

,Idade,Turnover,ViagensTrabalho,Departamento,DistanciaCasa,NivelEducacao,Educacao,NumeroEmpregado,NivelSatisfacaoAmbiente,Genero,...,PercentualAumentoSalario,AvaliacaoDesempenho,QtdeHorasTrabalhadasPadrao,TotalAnosTrabalhados,TreinamentosUltimoAno,BalanceamentoVidaTrabalho,QtdeAnosNaEmpresaAtual,QtdeAnosNoCargoAtual,QtdeAnosDesdeUltimaPromocao,QtdeAnosComGerenteAtual
0,41.0,Yes,Travel_Rarely,Sales,1,2,Life Sciences,1,2,Female,...,11,3,80,8,0,1,6,4,0,5
1,49.0,No,Travel_Frequently,Research & Development,8,1,Life Sciences,2,3,Male,...,23,4,80,10,3,3,10,7,1,7
2,37.0,Yes,Travel_Rarely,Research & Development,2,2,Other,4,4,Male,...,15,3,80,7,3,3,0,0,0,0
3,33.0,No,Travel_Frequently,Research & Development,3,4,Life Sciences,5,4,Female,...,11,3,80,8,3,3,8,7,3,0
4,27.0,No,Travel_Rarely,Research & Development,2,1,Medical,7,1,Male,...,12,3,80,6,3,3,2,2,2,2

In [3]:
print(len(df))
print(df['RendaMensal'].max())
print(df['RendaMensal'].min())

1470
19999
1009

In [4]:
print(df['RendaMensal'].mean() + 2 * df['RendaMensal'].std())
print(df['RendaMensal'].mean() - 2 * df['RendaMensal'].std())

15918.844858712997
-2912.982273678983

In [10]:
df = f.remover_outliers(df, 'RendaMensal')

In [8]:
print(len(df))
print(df['RendaMensal'].max())
print(df['RendaMensal'].min())

1342
15787
1009

2